.flight-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 25px auto;
  background-color: #1b1b1b;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  position: relative; /* Add relative positioning to parent container */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #e50914;
  font-size: 2.5em;
}

.flight-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.flight-form label {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  position: relative; /* Add relative positioning to label for suggestions list */
}

.flight-form input,
.flight-form select {
  padding: 10px;
  font-size: 1em;
  margin-top: 5px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

.flight-form button {
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.flight-form button:hover {
  background-color: #b20710;
}

.suggestions-list {
  border: 1px solid #444;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #2c2c2c;
  z-index: 1000;
  width: 100%;
  position: absolute; /* Position the suggestions list absolutely */
  top: calc(100% + 5px); /* Position it just below the input field */
  left: 0;
  color: #fff; /* Change text color to white for better readability */
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #444;
}
