.card-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 50vh; /* Example: Adjust container height as needed */
  }
  
  .card-image {
    width: 200px; /* Adjust width as needed */
    height: 100; /* Maintain aspect ratio */
  }

  .container-with-border {
    border: 2px solid #cfe2f3; /* Light blue border color */
    padding: 10px; /* Add padding inside the container */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
  }


  .form-check-input {
    margin-right: 10px; /* Adjust spacing between radio button and label */
  }
  
  .form-check-label {
    margin-right: 20px; /* Adjust spacing between labels */
  }
  
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ccc; /* Gray border color for hr */
  }



  .parent-container {
    display: flex;
    justify-content: center; /* Centers the child container horizontally */
    align-items: center; /* Centers the child container vertically */
    height: 50vh; /* Full viewport height to center vertically */
    width: 100%; /* Full width */
    padding: 20px; /* Optional: adds padding to the parent container */
    box-sizing: border-box; /* Ensures padding is included in the parent's total width */
  }
  
  .qr-container {
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
    padding: 20px; /* Optional: adds padding to the container */
    box-sizing: border-box; /* Ensures padding is included in the container's total width */
  }
  
  .qr-image {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 10px;
  }

  .container-digital {
    border: 2px solid lightblue;
    padding: 20px;
    border-radius: 8px; /* Optional: for rounded corners */
    margin: 20px auto; /* Center the container horizontally */
    width: 500px;
    box-sizing: border-box; /* Include padding and border in the element's total width */
  }
  
  